body {
    font-family: 'Tangerine', serif;
    font-size: 25px;
  }
  .name-highlight{
      color: orange;
  }
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
}